/.phpunit.cache
/app/node_modules
/app/public/build
/app/public/build-admin
/app/public/build-admin
/app/public/build-auth
/app/public/admin-asset
/app/Modules/Admin/node_modules
/app/Modules/Auth/node_modules
/app/Modules/Entity/node_modules
/app/modules/auth/node_modules
/app/public/storage
/app/storage/*.key
/app/vendor
/app.env.backup
/app.env.production
/app.phpunit.result.cache
/appHomestead.json
/appHomestead.yaml
/appauth.json
/appnpm-debug.log
/appyarn-error.log
.fleet
.idea
.vscode
/docker/mysql
